div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #eee;
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 50%;
    border-right: orangered 10px solid;
    border-left: rgb(0, 128, 255) 10px solid;
    margin: 50px auto;
}